nav {
  display: flex;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.menu li {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 1.1rem;
  font-weight: bold;
  list-style: none;
  padding: 2.5rem 1rem;
  position: relative;
  text-transform: uppercase;
}

.menu li:hover {
  background: #f1f1f1;
}

.mega-menu {
  background: #eee;
  display: flex;
  justify-content: space-between;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 70px;
  visibility: hidden;
  width: 100%;
  z-index: 5;
}

.menu li:hover>.mega-menu {
  opacity: 1;
  overflow: visible;
  visibility: visible;
}

.mega-menu .col {
  /* padding: 1em; */
}

.mega-menu .col ul {
  margin: 0;
  padding: 0;
}

.mega-menu .col ul.sub-section {
  background: rgb(241,241,241);
  background: linear-gradient(0deg, rgba(241,241,241,1) 93%, rgba(224,224,224,1) 100%);
}

.mega-menu .col li {
  margin-bottom: 0.75em;
  white-space: nowrap;
}

.mega-menu .col h4 {
  text-transform: uppercase;
  margin: 0 0 1em 0;
}

.mega-menu .col a {
  padding: 0;
}

.mega-menu .col img {
  display: block;
}

.mega-menu .col p {
  margin-bottom: 0;
}

.mega-menu .col strong {
  text-transform: uppercase;
}
