html {
  font-size: 62.5%;
}

html, body {
  background: #efefef;
  font-family: 'Roboto', Verdana, Arial, sans-serif;
  height: 100%;
  width: 100%;
}

body {
  background-image: url('images/background.jpg');
  background-position: center center;
  background-size: cover;
  letter-spacing: .04rem;
  margin: 0;
  padding: 0;
}

.content-wrapper {
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.content-wrapper .inner-tube {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 350px;
  margin: 1.5rem 1rem;
  width: 600px;
}

.c-quick-links {
  width: 100%;
}

.c-quick-links ul {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
}

.c-quick-links ul li {
  background: #5a5a5a;
  border-right: 1px solid #4c4c4c;
  color: white;
  height: 80px;
  list-style-type: none;
  width:25%;
}

.content-wrapper .inner-tube {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 350px;
  margin: 1.5rem 1rem;
  width: 600px;
}

.home-hero-wrapper {
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  display: flex;
  height: 350px;
  left: 50%;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 900px;
}

.hero-container {
  display: flex;
}

.hero {
  background-image: url('images/hero.jpg');
  background-position: center center;
  background-size: cover;
  display: flex;
  height:350px;
  width: 600px;
}

.hero h1 {
  color: white;
  text-shadow: 0 0 7px black;
  text-transform: uppercase;
}

.hero p {
  font-size: 1.2rem;
  color: #e0e0e0;
}

.hero a {
  padding: 1rem;
  background: #232323;
  color: white;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}

.hero a:hover {
  background: black;
}

.hero .inner-tube {
  box-sizing: border-box;
  margin: 2rem;
  position: relative;
  width: 100%;
}

.hero-content-wrapper {
  position: absolute;
  bottom: 0;
}

.login-wrapper {
  width: 100%;
  position:relative;
}

.footer {
  background: #5a5a5a;
  bottom: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  display: flex;
  flex-flow: column;
  padding: 0;
  position: absolute;
  width: 100%;
}

.footer-top-bar {
  background: #4c4c4c;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.footer-bottom-bar {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header {
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  display: flex;
  height: 70px;
  position: absolute;
  top: 0;
  width: 100%;
}

.logo-ameren {
  margin: .25rem 1.5rem .75rem;
}

.logo-nav-container, .logo-nav-container a {
  display: flex;
}

ul.main-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 1rem;
}

ul.main-nav li.nav-item {
  align-items: center;
  display: flex;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 2.5rem .5rem;
  text-transform: uppercase;
}

ul.utility-nav {
  display: flex;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0 1rem 0 0;
  position: absolute;
  right: 0;
}

ul.utility-nav li.nav-item {
  align-items: center;
  display: flex;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 2.5rem .5rem;
  text-transform: uppercase;
}

ul.footer-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0 1rem 0 0;
}

ul.footer-nav li.nav-item {
  align-items: center;
  color: #c7c7c7;
  display: flex;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 2.5rem .5rem;
  text-transform: uppercase;
}

li.nav-item:hover {
  background: #f1f1f1;
  cursor: pointer;
}

ul.footer-subnav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0 1rem 0 0;
}

ul.footer-subnav li.nav-item {
  align-items: center;
  color: #c7c7c7;
  display: flex;
  font-size: .85rem;
  padding: 1.5rem .5rem;
  text-transform: uppercase;
}

ul.footer-nav li.nav-item:hover {
  background: #333333;
  cursor: pointer;
}

.step-wrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
}

.step-wrapper .step {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 80%, rgba(235,235,235,1) 100%);
  margin: 0 0 1px;
  padding:1.5rem;
  position: relative;
  /* transition: background 1s; */
}

.step:hover {
  background: #ccc;
  cursor: pointer;
  transition: background 1s;
}

.step-wrapper .step span {
  display: block;
  width: 100%;
}

.step-wrapper .active {
  background: #5a5a5a;
  color: #fff;
}

.step-wrapper .active::after {
  border-color: transparent transparent transparent #5a5a5a;
  border-style: solid;
  border-width: 29.5px 0 29.5px 12px;
  content: " ";
  height: 0;
  position: absolute;
  right: -12px;
  top: 0;
  width: 0;
}

.step .title {
  font-size: 1.4rem;
  font-weight: bold;
}

.multi-step-wrapper {
  align-items: center;
  display: flex;
  left: 50%;
  margin: 0 auto;
  max-width: 900px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 900px;
}

.icon-check-circle {
  display: none;
}

.finish .icon-check-circle {
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .step-wrapper {
    width: 250px;
  }

}
