/* Style the form */
#regForm {
  background-color: #ffffff;
  margin: 0 auto;
  min-width: 300px;
  width: 70%;
}

/* Style the input fields */
input {
  border: 1px solid #aaaaaa;
  font-family: 'Roboto', verdana, arial, sans-serif;
  font-size: 17px;
  padding: 10px;
  width: 100%;
}

/* Mark input boxes that gets an error on validation: */
form .invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
/* .form-step {
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  height: 15px;
  margin: 0 2px;
  opacity: 0.5;
  width: 15px;
} */

/* Mark the active step: */
/* .step-wrapper .active {
  opacity: 1;
} */

/* Mark the steps that are finished and valid: */
/* .step-wrapper .finish {
  background-color: #04AA6D;
} */
