@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);

html{
  background-color: #f1f1f1;
  font-family: "Roboto";
}

/* BOX LOGIN */
.box{
  background: #FFF;
  border-radius: 3px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color:#666;
  height: 410px;
  left: 0;
	margin: auto;
  margin-bottom: 100px;
  overflow: hidden;
  position: relative;
  right: 0;
  top: 40px;
  width:400px;
  z-index: 200;
}

#header{
  background: #009688;
  height: 100px;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
}

#cont-lock{
  height: 65px;
  position: relative;
  width: 100%;
}

.lock{
  bottom: 0;
  color: white;
  font-size: 28px;
  left: 0;
  line-height: 65px;
  margin: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

#bottom-head{
  position: relative;
  background: #00796b;
  height: 35px;
}

#bottom-head::after{
  border-bottom: 7px solid white;
  border-left: 7px solid rgba(0,0,0,0);
  border-right: 7px solid rgba(0,0,0,0);
  border-top: 7px solid rgba(0,0,0,0);
  bottom: 0;
  content: '';
  display: block;
  height: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 0;
}

.box h1{
  margin-left: 20px;
  margin-top: 0;
	font-size: 24px;
  font-weight: 300;
  color: #cfd8dc;
  line-height: 35px;
}

.box button{
	background: #cfd8dc;
	border:0;
	color: #009688;
	padding:10px;
	font-size: 16px;
  font-weight: 300;
	width:330px;
	margin:20px auto;
	display:block;
	cursor:pointer;
    -webkit-transition: all 0.4s;
	transition: all 0.4s;
	border-radius: 2px;
}

.box button:active{
	background: #009688;
  color: #263238;
}

.box button:hover{
		background: #009688;
  color: #FFF;
    -webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.box p{
	font-size:14px;
	text-align:center;
}

.group 			  {
  margin-bottom: 35px;
  margin-left: 40px;
  position:relative;
}

.inputMaterial 				{
  border:none;
  border-bottom:1px solid #757575;
  display:block;
  font-size:18px;
  padding:10px 10px 10px 5px;
  width:300px;
}

.inputMaterial:focus 		{ outline:none;}

/* LABEL ======================================= */

label 				 {
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
  color:#999;
  font-size:14px;
  font-weight:normal;
  left:5px;
  pointer-events:none;
  position:absolute;
  top:10px;
  transition:0.2s ease all;
}

/* active state */
.inputMaterial:focus ~ label, .inputMaterial:valid ~ label 		{
  color: #009688;
  font-size:14px;
  top:-20px;
}

/* BOTTOM BARS ================================= */
.bar 	{
  display:block;
  position:relative;
  width:315px;
}

.bar:before, .bar:after 	{
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
  background: #009688;
  bottom:1px;
  content:'';
  height:2px;
  position:absolute;
  transition:0.2s ease all;
  width:0;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after {
  width:50%;
}


/* active state */
.inputMaterial:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

#footer-box{
  background: #00695c;
  bottom: 0;
  height: 50px;
  position: absolute;
  width: 100%;
}

.footer-text{
  color: #cfd8dc;

}

.sign-up{
  color: white;
  cursor: pointer;
}

.sign-up:hover{
   color: #b2dfdb;
}

body{
  background: #eceff1;
}

#container-a{
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  height: 60px;
  overflow: hidden;
  position: fixed;
  right: 20px;
  top: 20px;
  transition: all 0.3s;
  width: 60px;

  #badge{
  background-image: url("https://lh3.googleusercontent.com/-X-aQXHatDQY/Uy86XLOyEdI/AAAAAAAAAF0/TBEZvkCnLVE/w140-h140-p/fb3a11ae-1fb4-4c31-b2b9-bf0cfa835c27");
  background-size: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.3s;
  width: 100%;


    &:hover .codepen{
     display: block;
    }
  }

  &:hover #letter{
    display: block;
  }

  &:hover #badge{
    filter: blur(7px);
    height: 150px;
    transition: all 0.3s;
    width: 150px;
  }

  #letter{
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 20;
  }

  #letter span {
    color: white;
    cursor: pointer;
    font-family: 'Roboto';
    font-size: 32px;
    line-height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
  }
}
